.App {
  text-align: center;
}
.wrapper {
		padding: 10px;

		img {
			cursor: pointer;
			max-height: 500px;
			filter: drop-shadow(6px 6px 12px rgba(0,0,0,0.45));
			transition: all 325ms ease-in-out;
			&:hover {
				transition: all 325ms ease-in-out;
				transform: scale(1.07);
			}
		}
	}
